.input-container {
  display: flex;
  height: 26px;
  width: 320px;
  background-color: var(--border-color);
  border: 1px solid var(--fill-color);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;

  .send {
    cursor: pointer;
  }

  input {
    width: 300px;
    border: none;
    outline: none;
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--border-color);
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: var(--text-color);
  }
}

.messages {
  flex-grow: 1;

  p {
    padding: 10px 0;
  }
}

.question,
.answer {
  color: var(--border-color)
}

.error {
  border-color: var(--error-color);
}