:root {
  /* alice blue */
  --text-color: #e4f0fb;
  /* Razzmatazz */
  --error_color: #DF4576;
  /* Aquamarine */
  --highlight-color: #27E8A7;
  /* Payne's gray */
  --border-color: #506477;
  /* Uranian blue */
  --fill-color: #ADD7FF;
  /* Rich black */
  --background-color: #0E121B;
}